@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,400;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

@font-face {
    font-family: 'manifesto';
    src: url('../fonts/MANIFESTO.ttf') format('truetype');
    font-weight: 400;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
