 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/fondo-inicio.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-text-1 {
  font-family: Alatsi;
  font-weight: 700;
  line-height: 1.8;
  background-image: none;
  margin: 33px 201px 0 275px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 51px 75px 60px 165px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: 130%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
    margin-left: 175px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 56px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 71px 0 0;
}

.u-section-2 .u-image-1 {
  width: 338px;
  height: 480px;
  object-position: 53.95% 50%;
  box-shadow: -2px -2px 8px 0px rgba(128,128,128,1);
  margin: 63px auto 0 59px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.6;
  margin: -411px 61px 0 450px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation-timing-function: ease-in;
  margin: 40px auto 0 649px;
}

.u-section-2 .u-shape-1 {
  width: 699px;
  height: 480px;
  background-image: none;
  margin: -390px 26px 0 auto;
}

.u-section-2 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 388px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-2 .u-icon-1 {
  height: 80px;
  width: 80px;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 0 81px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.6;
  background-image: none;
  animation-timing-function: ease;
  margin: 18px 13px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 16px;
}

.u-section-2 .u-icon-2 {
  height: 80px;
  width: 80px;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 0 81px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.6;
  background-image: none;
  animation-timing-function: ease;
  margin: 18px 13px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 16px;
}

.u-section-2 .u-icon-3 {
  height: 80px;
  width: 80px;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 0 81px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.6;
  background-image: none;
  animation-timing-function: ease;
  margin: 18px 13px 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 5000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 16px;
}

.u-section-2 .u-icon-4 {
  height: 80px;
  width: 80px;
  box-shadow: -2px 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  animation-timing-function: ease;
  margin: 0 81px 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.6;
  background-image: none;
  animation-timing-function: ease;
  margin: 18px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 311px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 449px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 320px;
  }

  .u-section-2 .u-icon-1 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    animation-duration: 6250ms;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 23px;
    animation-duration: 9000ms;
  }

  .u-section-2 .u-icon-2 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    animation-duration: 6250ms;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 23px;
    animation-duration: 9000ms;
  }

  .u-section-2 .u-icon-3 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    animation-duration: 6250ms;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 23px;
    animation-duration: 9000ms;
  }

  .u-section-2 .u-icon-4 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
    animation-duration: 6250ms;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 23px;
    animation-duration: 9000ms;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 91px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 229px;
  }

  .u-section-2 .u-shape-1 {
    margin-right: 21px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 980px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 49px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 2px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("images/a1fe7d877996c19cd8d1f374bee773ddd99dabdc2fc10e5579a551bb5bb961c5b76d0f49ce8a62abd77fe0f9b23e220cd690b7478a5c05d5f68096_1280.jpg");
  background-position: 50% 50%;
  background-size: auto 130%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 43px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 132px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 0px 0px;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  margin-top: -75px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 454px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 21px;
}

.u-section-3 .u-image-1 {
  height: 270px;
  width: 519px;
  animation-timing-function: ease-in-out;
  object-position: 0% 50%;
  margin: 20px 0 0 9px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 9px;
}

.u-section-3 .u-text-3 {
  margin: 33px 0 0 18px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-3 .u-image-2 {
  height: 270px;
  width: 519px;
  animation-timing-function: ease-in-out;
  margin: 20px 0 0 9px;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 9px;
}

.u-section-3 .u-text-5 {
  margin: 33px 0 0 18px;
}

.u-section-3 .u-image-3 {
  width: 210px;
  height: 210px;
  filter: brightness(0.95);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 39px 457px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-3 .u-repeater-2 {
    min-height: 374px;
  }

  .u-section-3 .u-text-2 {
    animation-duration: 6000ms;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    animation-duration: 6000ms;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 1px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 330px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-3 .u-image-1 {
    height: 166px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 166px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-left: 130px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 62px;
}